.footer{
	background-color: rgba(#ffffff,.7);
	border-top: 10px solid #73B211;
	padding: 30px 0;
	&__row{
		display: flex;
		margin: 0 -30px;
		flex-wrap: wrap;
	}
	&__logo{
		color: #000;
		font-size: 62px;
		text-decoration: none;
		display: block;
		background-color: rgba(#000,.7);
		padding: 14px;
		&:first-letter{
			color: #73B211;
		}
		img{
			display: block;
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}
	}
	&__item{
		flex: 1 0 0;
		margin: 0 30px 30px;
		&:first-child{
			flex: 2 0 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			min-width: 260px;
		}
	}
	&__phone{
		color: #424242;
		text-decoration: none;
		display: block;
		margin-bottom: 5px;
		@include adaptive-font(18,14);
	}
	&__adress{
		@include adaptive-font(18,14);
		margin: 0 0 20px;
	}
	&__copy{
		@include adaptive-font(18,14);
		font-weight: bold;
		margin: 0;
	}
	h4{
		@include adaptive-font(18,14);
		font-weight: bold;
		margin: 0 0 30px;
	}
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			margin-bottom: 13px;
		}
		a{
			color: #424242;
			@include adaptive-font(18,14);
			text-decoration: none;
		}
	}
	@include r(1023){
		&__item{
			flex: 1 0 0;
			margin: 0 30px 30px;
			min-width: 150px;
			&:first-child{
				flex: 2 0 0;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				min-width: 260px;
			}
		}
	}
	@include r(440){
		&__item{
			flex: 1 0 0;
			margin: 0 0 30px;
			min-width: 150px;
			&:first-child{
				flex: 2 0 0;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				min-width: 260px;
			}
		}
	}
}