.nav {
	&__burger{
		position: relative;
		width: 40px;
		height: 30px;
		z-index: 10;
		cursor: pointer;
		display: none;
		margin-left: auto;
		&:before,
		&:after{
			content: '';
			position: absolute;
			right: 0;
			width: 100%;
			height: 3px;
			background-color: #73B211;
			transition: all 100ms ease 0s;
		}
		&:before{
			top: 0;
		}
		&:after{
			bottom: 0;
		}
		span{
			position: absolute;
			top: 14px;
			right: 0;
			background-color: #73B211;
			width: 100%;
			height: 3px;
			transition: all 100ms ease 0s;
		}
		&.active{
			&:before{
				transform: rotate(45deg);
				top: 14px;
			}
			&:after{
				transform: rotate(-45deg);
				bottom: 14px;
			}
			span{
				transform: scale(0);
			}
		}
	}
	&__body{
		width: 100%;
		height: 100%;
		overflow: auto;
		position: relative;
		margin: 0;
		padding: 0;
		z-index: 5;
		transition: all 300ms ease-in-out 0s;
		&.active{
			position: fixed;
			height: 100%;
			padding-top: 90px;
			top: 0;
			transition: all 300ms ease-in-out 0s;
			background-color: #f4f2f2;
			&:before{
				content: '';
				position: absolute;
				top: 70px;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: rgba(#000000,.2);
			}
		}
	}
	&__menu{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		min-height: 22px;
		overflow: auto;
		position: relative;
		margin: 0;
		padding: 0;
		z-index: 5;
		transition: all 300ms ease-in-out 0s;
		&.active{
			top: 0;
			transition: all 300ms ease-in-out 0s;
		}
		li{
			list-style: none;
		}
	}

	&__link{
		color: #FFFFFF;
		font-size: 18px;
		font-weight: 400;
		text-decoration: none;
		position: relative;
		transition: all 100ms ease 0s;
		&:hover{
			color: #73B211;
			transition: all 100ms ease 0s;
		}
		&--dark{
			color: #424242;
			&:hover{
				color: #ffffff;
				transition: all 100ms ease 0s;
			}
		}
	}
	@include r(767){
		&__burger{
			display: block;
		}
		&__body{
			position: absolute;
			top: -150%;
			left: 0;
			padding: 20px;
		}
		&__menu{
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			li{
				margin-left: 0;
				margin-bottom: 30px;
			}
		}
		&__link{
			color: #142459;
			font-size: 18px;
		}
	}
}