.number-count{
	display: flex;
	align-items: center;
	input{
		width: 40px;
		height: 35px;
		font-size: 18px;
		color: #424242;
		text-align: center;
		border-radius: 5px;
		border: 1px solid #73B211;
		margin: 0 6px;
	}
	.btn{
		font-size: 16px;
		padding: 0;
		width: 35px;
		height: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
}