.search-header{
	position: relative;
	height: 40px;
	&__input{
		width: 100%;
		height: 100%;
		border: 2px solid #73B211;
		padding: 8px 20px;
		&:focus{
			border: 0;
			outline: none;
			box-shadow: 0 0 5px 4px #73B211;
		}
	}
	&__submit{
		background-color: transparent;
		background-image: url("../img/mdi_search.svg");
		background-repeat: no-repeat;
		background-position: center;
		width: 24px;
		height: 24px;
		position: absolute;
		top: 50%;
		right: 14px;
		margin-top: -12px;
		border: none;
		z-index: 10;
		cursor: pointer;
	}
}