.slider-main{
	margin: 20px 0;
	&__slider{
		width: calc(100% + 40px);
		margin-left: -20px;
	}
	&__item{
		position: relative;
		img{
			width: 100%;
			height: auto;
			display: block;
		}
	}
	&__content{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 960px;
		margin: 0 auto;
		right: 0;
	}
	&__rubric{
		font-size: 29px;
		color: #ffffff;
		font-weight: bold;
		text-transform: uppercase;
		text-shadow: 0 4px 8px rgba(#000,.9);
		position: relative;
	}
	&__name{
		font-size: 52px;
		color: #ffffff;
		font-weight: bold;
		text-transform: uppercase;
		text-shadow: 0 4px 8px rgba(#000,.9);
		position: relative;
	}
	&__price{
		font-size: 32px;
		color: #ffffff;
		text-shadow: 0 4px 8px rgba(#000,.9);
		margin-bottom: 100px;
		position: relative;
	}
    .btn{
        width: fit-content;
    }
}