.slider-partners{
	background-color: rgba(#ffffff,.7);
	border-radius: 4px;
	padding: 20px;
	margin: 20px auto;
	&__item{
		display: block;
		text-decoration: none;
		img{
			width: 100%;
			height: auto;
			display: block;
		}
	}
}