.subscribe{
	width: 100%;
	padding: 10px 0;
	background-color: #73B211;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	display: none;
	&__title{
		color: #fff;
		font-size: 18px;
		margin: 10px 18px;
	}
	&__form{
		display: flex;
		align-items: center;
		margin: 0 18px;
		max-width: 350px;
		min-width: 280px;
	}
	&__input{
		width: 100%;
		color: #4E4E4E;
		background-color: rgba(#fff,.8);
		border: none;
		padding: 11px 20px;
		&:focus{
			border: 0;
			outline: none;
			box-shadow: 0 0 5px 4px #73B211;
		}
	}
	&__submit{
		font-size: 18px;
		color: #ffffff;
		background-color: #424242;
		border: none;
		padding: 10px 20px;
	}
}