.tabs {
	&__nav {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		margin: 0;
		border-bottom: 3px solid #ECECEC;
	}
	&__link {
		background-color: #ECECEC;
		padding: 8px 1rem;
		text-decoration: none;
		color: #4e4e4e;
		font-size: 16px;
		text-align: center;
		flex-shrink: 0;
		&_active {
			background-color: #73B211;
			cursor: default;
			color: #ffffff;
		}
		&:not(.tabs__link_active):hover,
		&:not(.tabs__link_active):focus{
			background-color: #efefef;
		}
	}
	&__content {
		padding: 30px 0;
		font-size: 16px;
		line-height: 1.5;
	}
	&__pane {
		display: none;
		&_show {
			display: block;
		}
	}
}