<div class="subscribe">
    <div class="subscribe__title">Подписаться на рассылку Besser</div>
    <form class="subscribe__form">
        <input class="subscribe__input" type="text" placeholder="Введите вашу почту">
        <input class="subscribe__submit" type="submit" value="Ок">
    </form>
</div>
<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__item">
                <a class="footer__logo" href="#">Besser</a>
                <div>
                    <a class="footer__phone" href="tel:">+7 702 611 11 35</a>
                    <a class="footer__phone" href="tel:">+7 700 350 11 11</a>
                </div>
                <p class="footer__adress">Республика Казахстан
                    010000, г. Астана
                    ул.Евгения Брусиловского 17/1. офис 1</p>

                <p class="footer__copy">"Все права защищены" © 2012—2020</p>
            </div>
            <div class="footer__item">
                <h4>Наши товары</h4>
                <ul>
                    <li><a href="#">Паркет</a></li>
                    <li><a href="#">Ламинат</a></li>
                    <li><a href="#">Виниловые полы</a></li>
                    <li><a href="#">Плинтуса</a></li>
                    <li><a href="#">Двери</a></li>
                    <li><a href="#">Подложка</a></li>
                    <li><a href="#">Теплый пол</a></li>
                </ul>
            </div>
            <div class="footer__item">
                <h4>Наши услуги</h4>
                <ul>
                    <li><a href="#">Бесплатная консультация</a></li>
                    <li><a href="#">Выезд специалиста</a></li>
                    <li><a href="#">Укладка паркета</a></li>
                    <li><a href="#">Хранение на складе</a></li>
                    <li><a href="#">Доставка и оплата</a></li>
                </ul>
            </div>
            <div class="footer__item">
                <h4>Информация</h4>
                <ul>
                    <li><a href="#">Как заказать</a></li>
                    <li><a href="#">Сотрудничество</a></li>
                    <li><a href="#">Сертификаты</a></li>
                    <li><a href="#">Наши партнеры</a></li>
                </ul>
            </div>
            <div class="footer__item">
                <h4>Контакты</h4>
                <ul>
                    <li><a href="#">Адреса салонов</a></li>
                    <li><a href="#">Карта сайта</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="remodal" data-remodal-id="call">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1 class="remodal__title">Заказать звонок</h1>
    <form class="feedback" action="">
        <div class="feedback__item">
            <input class="feedback__input" type="text" placeholder="Ваше имя">
        </div>
        <div class="feedback__item">
            <input class="feedback__input" type="text" placeholder="Ваш телефон">
        </div>
        <div class="feedback__item">
            <textarea  class="feedback__message" name="" id="" cols="30" rows="10" placeholder="Сообщение"></textarea>
        </div>
        <input class="btn w100" type="submit" value="Отправить">
    </form>
</div>

<div class="remodal" data-remodal-id="message">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1 class="remodal__title">Заказать звонок</h1>
    <form class="feedback" action="">
        <div class="feedback__item">
            <input class="feedback__input" type="text" placeholder="Ваше имя">
        </div>
        <div class="feedback__item">
            <input class="feedback__input" type="email" placeholder="Ваша почта">
        </div>
        <div class="feedback__item">
            <textarea  class="feedback__message" name="" id="" cols="30" rows="10" placeholder="Сообщение"></textarea>
        </div>
        <input class="btn w100" type="submit" value="Отправить">
    </form>
</div>

<div class="remodal" data-remodal-id="product">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1 class="remodal__title">Дуб Глостер 453</h1>
    <p><b>Кол-во:</b> 10 шт</p>
    <p><b>Цена:</b> 34000 тг</p>
    <form class="feedback" action="">
        <div class="feedback__item">
            <input class="feedback__input" type="text" placeholder="Ваше имя">
        </div>
        <div class="feedback__item">
            <input class="feedback__input" type="email" placeholder="Ваша почта">
        </div>
        <div class="feedback__item">
            <input class="feedback__input" type="tel" placeholder="Ваш телефон">
        </div>
        <input class="btn w100" type="submit" value="Заказать">
    </form>
</div>


