<header class="header">
    <div class="header__center">
        <div class="container">
            <div class="header__row">
                <a class="header__logo" href="#"><img src="./img/POLMART.svg" width="382" height="" alt=""></a>
                
                <div class="header__search">
                    <form class="search-header" action="">
                        <input class="search-header__input" type="text" placeholder="Поиск">
                        <input class="search-header__submit" type="submit" value="">
                    </form>
                </div>
                <div class="header__phone">
                    <a href="tel:">+7 702 611 11 35</a>
                    <span>Обратный звонок</span>
                </div>
            </div>
        </div>
    </div>

    <nav class="header-catalog">
        <div class="container">
            <div class="header-catalog__row">
                <div class="header-catalog__button">
                    <button class="btn btn-primary">Каталог</button>
                    <ul class="header-catalog__menu">
                        <li><a href="#" class="nav__link nav__link--dark active">Ламинат</a></li>
                        <li><a href="#" class="nav__link nav__link--dark">Паркет</a></li>
                        <li><a href="#" class="nav__link nav__link--dark">Виниловые полы</a></li>
                        <li><a href="#" class="nav__link nav__link--dark">Плинтуса</a></li>
                        <li><a href="#" class="nav__link nav__link--dark">Двери</a></li>
                        <li><a href="#" class="nav__link nav__link--dark">Подложка</a></li>
                        <li><a href="#" class="nav__link nav__link--dark">Теплый пол</a></li>
                    </ul>
                </div>
                <nav class="nav">
                    <div class="nav__burger">
                        <span></span>
                    </div>
                    <div class="nav__body">
                        <ul class="nav__menu">
                            <li><a href="#" class="nav__link active">Главная</a></li>
                            <li><a href="#" class="nav__link">О компании</a></li>
                            <li><a href="#" class="nav__link">Каталог</a></li>
                            <li><a href="#" class="nav__link">Новости</a></li>
                            <li><a href="#" class="nav__link">Галерея</a></li>
                            <li><a href="#" class="nav__link">Контакты</a></li>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>
    </nav>
</header>